:root{
    --pri-color:#0e5390;
    --sec-color:#cce4fa;
    --bg-color:#cce4faaf;
    --acc-color:#1684e3;
}


div {
    margin: auto;
    align-items: stretch;
    align-content: center;
}

h1 {
    color: var(--pri-color);
    font-size: 80px;
    font-family: Verdana;
    text-align: center;
}

body{
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-attachment: fixed;
    overflow-y: scroll;
}

input{
    display: none
}

img{
    width=80%;
}

div{
    
}

.image_display{
    margin: auto;
    width: 80%;
}
